<ul class="navigation">
  <li class="navigation-item"
       [routerLink]="['/calendar']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <span class="navigation-item__name calendar">Calendar</span>
  </li>
  <li class="navigation-item"
    [routerLink]="['/currency']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <span class="navigation-item__name currency">Currency</span>
  </li>
  <li class="admin-link">
    <div>
      <a href="https://myfixerapi.db2dev.com/admin/" target="_blank">True admin</a>
  </div>
  </li>
</ul>

